<div class="panel-body">

<form id="buy-form" action="/buy" method='post'>

    <div class="form-group">
        <select class="form-control" placeholder="Stock" name="stock_id">
          <% all_stocks.each do |stock| %>
            <option value=<%= stock.id %>><%= stock.ticker %></option>
          <% end %>
        </select>
        <input type="number" min="0" max="10000" step="100" class="form-control" placeholder="Quantity" name="quantity" value="100" required>
        <input type="number" min="0" max="200" step="0.01" class="form-control" placeholder="Price" name="price" value="20.00" required>
        <input type="datetime-local" value=<%= Time.now.strftime("%Y-%m-%dT%H:%M") %> class="form-control" placeholder="Date and time" name="datetime" required>
    </div>
    <button type="submit" class="btn btn-success">Buy</button>

</form>

</div>
