
<form action="/users/login" method="post" class="navbar-form navbar-right">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username" name="username">
    <input type="password" class="form-control" placeholder="Password" name="password">
  </div>
   <button type="submit" class="btn btn-primary">Log In <i class="glyphicon glyphicon-lock"></i> </button>
</form>